Vagelos CSV.csv
.venv/
.git/
__pycache__/
.vscode/
.devcontainer/
*.pyc
*.pyo
*.pyd
env/
node_modules/
dist/
build/
*.egg-info
.pytest_cache/
.git
__pycache__
.venv
.vscode
Vagelos CSV.csv
*.pyc
*.pyo
dist
build